*
{
	margin:0; 
	padding: 0;
}

body
{
	overflow:hidden;
}

canvas
{
	background-color: transparent;
	position: absolute;
	left: 0px;
	top: 0px;
}

#text
{
	z-index: 3;
}

#front
{
	z-index: 2;
}

#back
{
	z-index: 1;
}